<template class="mt-0">
  <!--  <v-app class="mt-0 pt-0">-->
  <div>
    <v-row>
      <v-col cols="9" sm="12" style="padding: 0;margin: 0" xs="12">
        <!--          v-if="course.modules"-->
        <div v-if="activeVideo" class="video">
          <iframe
            :src="`${activeVideo}?title=0&byline=0&portrait=0&autoplay=0&loop=1`"
            allow="autoplay"
            allowfullscreen
            allowtransparency
            class="responsive-iframe"
            frameborder="0"
            style="padding: 0;margin: 0; width: 100%; height: 100%"
          ></iframe>
        </div>
      </v-col>
      <v-col v-if="courseName" cols="3" sm="12" style="padding: 0;margin: 0" xs="12">
        <v-container>
          <h3 style="font-weight: 600; margin-bottom: 0.4rem">
            {{ courseName }}
          </h3>
          <p style="font-weight: 400; font-size: 0.9rem; color: #555">
            By {{ courseAuthor }}
          </p>

          <p
            style="
                margin-top: 1.5rem;
                font-weight: bold;
                color: #555;
                border-bottom: 1px solid black;
                padding-bottom: 1rem;
              "
          >
            Table of contents
          </p>
        </v-container>
        <v-list style="padding: 0; margin: 0">
          <v-list-group v-for="(module,i) in courseModules" :key="i">
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title style="font-weight:500">{{ module.title }}</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="(clip, i) in module.clips"
              :key="i"
              dense
              link
              @click="changeActiveVideo(clip.playerUrl)"
            >
              <v-list-item-title>{{ clip.title }}</v-list-item-title>
              <v-list-item-icon>
                <v-icon></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
    </v-row>
  </div>
  <!--  </v-app>-->
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',

  computed: mapGetters([
    'courseName',
    'activeVideo',
    'courseAuthor',
    'courseModules'
  ]),
  methods: mapActions([
    'getVideo',
    'changeActiveVideo'
  ]),
  mounted () {
    this.getVideo()
  }
}
</script>

<style scoped>
.video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: black;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

</style>
