<template>
  <v-container>
    <h1>UserName:{{ userName }}</h1>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld',

  data: () => ({}),
  computed: {
    userName () {
      return this.$store.state.user.name
    }
  }
}
</script>
