<template>
  <!--  <v-app style="margin: 0;padding: 0">-->
  <router-view></router-view>
  <!--  </v-app>-->
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
  computed: {}
}
</script>
